.menu{
    display: flex; /* definindo que o elemento é Flexbox */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 33px;
}

.categorias__lista{
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}

/*Sessão Destaques*/
.destaques {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.destaques__barra {
    flex-grow: 1; /* Expandir Elementos dentro de um Flex-container proporcionalmente */ 
}

/*Sessão Eventos*/
.eventos__lista{
    display: flex;
    flex-wrap: wrap; /* Organiza os elementos colocando um abaixo do outro conforme o tamnho da tela */
    column-gap: 1.5rem; /* Espaçamento entre Colunas */
    row-gap: 1rem; /* Espaçamento entre Linhas */
    justify-content: center;
}

.eventos__item{
    flex-grow: 1;
    max-width: 400px;
}

/*Sessão Agenda*/
.agenda__lista{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
}
/* .agenda__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

@media (min-width: 720px) {

    .menu {
        column-gap: 75px;
    }

    .categorias__lista{
        flex-wrap: wrap;
        column-gap: 1.5rem;
        row-gap: 1rem;
    }
    .eventos__lista{
        justify-content: end;
    }
    .agenda__lista{
        display: flex;
        flex-wrap: wrap;
        row-gap: 1.5rem;
        column-gap: 1.5rem;
        justify-content: end;
    }
} 

@media screen and (min-width:1440px) {
    .menu{
        column-gap: 105px;
        flex-wrap: nowrap;
    }

    .menu__item:nth-child(1){
        order: 1;
    }

    .menu__item:nth-child(2){
        order: 3;
    }

    .menu__item:nth-child(3){
        order: 4;
    }

    .menu__item:nth-child(4){
        order: 5;
    }

    .menu__item:nth-child(5){
        order: 2;
    }

    .agenda__lista{
        justify-content: center;
    }

    .agenda__item{
        flex-grow: 1;
    }

    .agenda__item .agenda__informacoes {
        min-width: 100%;
    }

    .agenda__item .agenda__atracao {
        min-width: 100%;   
    }
}