.banner{
    display: grid;
    gap: 1rem;
}

.banner img:nth-child(1){
    grid-column: 1/3;
}

.banner img:nth-child(4){
    grid-column: 2/3;
    grid-row: 2/4;
}

.eventos__item{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: /* Cria e nomeia areas em um Grid*/ 
        "imagem imagem"  /* 1 linha 2 colunas */
        "nome nome"      /* 1 linha 2 colunas */
        "data data"      /* 1 linha 2 colunas */
        "local botao";   /* 1 linha 2 colunas */

        /*
            Cada par de aspas duplas representa uma linha e
            cada elemento representa uma coluna.
        */
}

/* Associando o HTML ao grid-template-areas*/
.eventos__item img { 
    grid-area: imagem; 

}

.eventos__item h3 {
    grid-area: nome;
    align-self: center; /* é responsável por alinhar individualmente um grid item ou um flex item */
}

.eventos__item h4 {
    grid-area: data;
}

.eventos__item h5 {
    grid-area: local;
    align-self: end; /* é responsável por alinhar individualmente um grid item ou um flex item */
}

.eventos__item button {
    grid-area: botao;
}

.agenda__item{
    display: grid;
    grid-template-columns: repeat( 2, 1fr );
    grid-template-rows: auto 1fr;
}

.agenda__item img {
    grid-column: 1/ 3;
}

@media (min-width:720px){

    .banner{
        grid-template-columns: calc(50% - 0.75rem) auto auto; /* É responsavel por determinar a largura de cada coluna Ex. o primeiro foi calc() a seunda foi auto e assim por diante */
        column-gap: 1.5rem;
    }
    .banner img:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/3;
    }
    
    .banner img:nth-child(4){
        grid-column: 3/4;
        grid-row: 1/3;
    }

}